@import 'base/imports';

[data-component="button"] {

  button {
    border: none;
    width: 100%;
    color: $white;
    background: $gren;
    border-radius: 0;
    padding: 20px;

    &.white {
      color: $white;
    }
  }
}
