@import 'base/imports';

[data-component="page-auth"] {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('~/assets/img/bg-login.jpg');

  .overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-rgb;

    .login {
      padding: 60px 30px;
      width: 100%;

      @include sm {
        padding: 60px 100px;
        width: 600px;
      }

      h1 {
        color: $white;
        text-align: center;
        font-size: 24px;
      }
    }
  }

  .message {
    margin: 20px 0 0;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 0px;

    .fail {
      border: 3px solid $red;
      color: $red;
      margin: 0 0 20px 0;
      padding: 10px 0;
    }
  }
  
  .register {
    display: block;
    padding: 20px 0 0;
    color: $white;
    cursor: pointer;
  }
}
