@import 'base/imports';

[data-component="header"] {

  .mat-toolbar {
    display: flex;
    justify-content: space-between;
    background: transparent;

    img {
      max-width: 120px;

      @include sm {
        max-width: 230px;
      }
    }

    .right {
      img {
        width: 45px;
      }
    }

    .account,
    .cart {
      margin: 0 20px 0 0;

      img {
        width: 30px;
      }

      .name {
        text-decoration: underline;
      }

      div {
        font-size: 12px;
        justify-content: center;
        font-weight: 600;
        margin: 0 5px;
      }
    }
  }

  .logout {
    cursor: pointer;
  }
}
