@import 'base/imports';

[data-component="books"] {
  .banner {
    width: 100%;
    height: 210px;
    background-image: url('../../../assets/img/banner.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;

    @include sm {
      height: 290px;
    }

    h1 {
      color: $white ;
      font-weight: 900;
      font-size: 30px;

      @include lg {
        width: 50%;
        font-size: 54px;
      }

    }
  }

  .slick-prev:before,
  .slick-next:before {
    color: $black;
  }

  .slide {
    margin: 40px 10px;
  }
}
