@import 'base/imports';

[data-component="book-details"] {
  margin: 50px 0 0 0;

  h1 {
    font-size: 24px;
  }

  b {
    font-size: 20px;
    margin: 20px 0 20px 0px;
    display: block;
  }

  button {
    background: $green;
    color: $white;
    border-radius: 0;
    border: none;
    padding: 20px 100px;
    margin: 10px 0;

    &:disabled {
      background: $medium-grey;
    }
  }
}
