<div data-component="book-details">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img src="{{book.image}}" alt="book">
      </div>
      <div class="col-8">
        <h1>{{book.title}}</h1>
        <p>Autor: {{book.author}}</p>
        <!-- <button mat-raised-button>ALUGAR</button> -->
        <button mat-raised-button (click)="rent()" [disabled]="book.available">{{!book.available ? 'ALUGAR' : 'ALUGADO'}}</button>

        <div>
          <b>Descrição</b>
        </div>
        <p>{{book.description}}</p>
      </div>
    </div>
  </div>
</div>
