@import 'base/imports';

[data-component="search"] {
  position: relative;

  input {
    border: none;
    width: 100%;
    padding: 20px 20px;
    border-radius: 0;
  }

  button {
    position: absolute;
    right: 0;
    width: 200px;
    height: 100%;
    border-radius: 0;
    background: $green;
    color: $white;
    font-weight: 600;
  }
}
