<div data-component="register">
  <div class="overlay">
    <div class="login">
      <h1>REGISTER</h1>
      <form [formGroup]="form">
        <app-input
          [control]="this.getField('email')"
          type="email"
          name="email"
          class="white"
          >
        </app-input>
        <app-input
          [control]="this.getField('password')"
          type="password"
          name="password"
          class="white">
        </app-input>
        <app-button
          text="CADASTRAR"
          (click)="onSubmit()"
        >
        </app-button>
      </form>
      <div class="message">
        <p *ngIf="success && !failed" class="success">Cadastro realizado com sucesso</p>
        <p *ngIf="!success && failed" class="fail">Não foi possivel realizar cadastro</p>
      </div>
      <a class="register" (click)="goToRegister()">Realizar login</a>
    </div>

  </div>
</div>
