<div data-component="book-card">
  <a class="d-flex flex-column align-items-center" routerLink="/list/books/{{book.id}}">
    <img src="{{book.image}}" alt="book">
    <h1>{{book.title}} </h1>
    <p>{{book.author}}</p>
  </a>
  <button mat-raised-button (click)="rent()" [disabled]="book.available">{{!book.available ? 'ALUGAR' : 'ALUGADO'}}</button>
</div>
