@import 'base/imports';

[data-component="book-card"] {
  width: 100%;
  padding: 20px 10px;
  box-shadow: 1px 1px 4px $dark-grey;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 465px;
  justify-content: space-between;

  img {
    width: 75%;
    margin: 0 0 10px 0;
  }

  h1 {
    font-weight: 900;
  }

  p {
    font-size: 12px;
    width: 100%;
  }

  button {
    width: 100%;
    background: $green;
    color: $white;
    border-radius: 0;

    &:disabled {
      background: $medium-grey;
    }
  }
}
