<div data-component="input" class="input" [class.error]="control.dirty && control.touched && control.invalid" class="{{class}}">
  <mat-form-field *ngIf="type === 'email'" appearance="fill" class="mb-4">
    <mat-label>Email</mat-label>
    <input
      matInput
      [formControl]="control"
      placeholder="{{placeholder}}"
      [name]="name"
      [type]="type"
      color="primary"
      >
    <mat-error *ngIf="control.hasError('email') && !control.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="control.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="type === 'password'" appearance="fill" class="mb-4">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="control">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</div>
